.container-addTask {
  background-color: rgb(113, 201, 201);
  height: 100vh;
  max-height: 100vh;
  margin: 0 auto;
  display: flex;
}

.form-addTask {
  text-align: center;
  padding: 50px 0;
  width: 80%;
  width: 400px;
  background-color: rgb(157, 157, 157);
  border-radius: 3px;
}

.input-form-addTask {
  font-family: sans-serif;
  font-size: 15px;
  line-height: 2;
  padding: 5px 20px;
  border-radius: 20px;
  max-width: 250px;
  border: none;
  border: 0.5px rgb(30, 25, 25) solid;
}

.container-userSelected {
  background: #b4b4b4;
  width: 200px;
  font-family: sans-serif;
  font-size: 15px;
  line-height: 2;
  padding: 5px 20px;
  border-radius: 20px;
  max-width: 250px;
  border: none;
  height: 30px;
  border: 0.5px rgba(30, 25, 25, 0.87) solid;
  text-align: center;
  margin: 10px auto;
  box-shadow: inset 0px 0px 27px #5e5e5ea8;
}

.button-form-addTask {
  color: white;
  font-size: 15px;
  background-color: rgb(97, 97, 97);
  border: none;
  border: 0.5px solid rgb(53, 53, 53);
  border-radius: 20px;
  padding: 10px 70px;
  cursor: pointer;
}

.button-form-addTask:hover {
  background-color: rgb(113, 113, 113);
}

.container-ListEmployees-addTasks {
  width: 350px;
  float: left;
  box-sizing: border-box;
  position: relative;
  padding: 0 10px;
  max-height: 100vh;
  overflow: auto;
}

@media screen and (max-width: 600px) {
  .container-addTask {
    display: block;
  }

  .form-addTask {
    margin: 0 auto;
    position: relative;
    top: 86px;
    width: 55%;
    min-width: 290px;
    padding: 20px;
    border: 1px solid rgb(0 0 0 / 55%);
  }

  .container-ListEmployees-addTasks {
    border: 1px solid rgb(0 0 0 / 55%);
    box-sizing: border-box;
    max-height: 230px;
    margin: 0px auto;
    float: none;
    box-sizing: none;
    padding: 0px 10px;
    padding: 0;
    top: 90px;
    border-radius: 3px;
  }
}
