.container-addTask {
  background-color: rgb(113, 201, 201);
  /* background-color: rgb(132, 111, 31); */
  height: 100vh;
  max-height: 100vh;
  /* width: 200px; */
  margin: 0 auto;
  /* max-width: 50vw; */
  display: flex;
  /* overflow: auto; */
}

.form-addTask {
  /* background-color: rgb(133, 93, 40); */
  text-align: center;
  box-sizing: border-box;
  padding: 50px 0;
  width: 80%;
  overflow: auto;

  background-color: rgb(157, 157, 157);
  border-radius: 15px;
  /* padding-top: 70px; */
  box-shadow: inset 0px 0px 10px rgba(46, 46, 46, 0.832), 1px 2px 5px rgb(0, 0, 0);
}

.input-form-addTask {
  font-family: sans-serif;
  font-size: 15px;
  line-height: 2;
  padding: 5px 20px;
  border-radius: 20px;
  max-width: 250px;
  border: none;
  border: 0.5px rgb(30, 25, 25) solid;
}

.container-userSelected {
  font-family: sans-serif;
  font-size: 15px;
  line-height: 2;
  padding: 5px 20px;
  /* border-radius: 20px; */
  max-width: 180px;
  border: none;
  height: 30px;
  border: 0.5px rgb(30, 25, 25) solid;
  text-align: center;
  margin: 10px auto;
}

.button-form-addTask {
  color: white;
  font-size: 15px;
  background-color: rgb(97, 97, 97);
  border: none;
  border: 0.5px solid rgb(53, 53, 53);
  border-radius: 20px;
  padding: 10px 70px;
  cursor: pointer;
}

.button-form-addTask:hover {
  background-color: rgb(113, 113, 113);
}

.container-ListEmployees-addTasks{
  width: 75vw;
  float: left;
  box-sizing: border-box;
  position: relative;
  padding: 0 10px;
  background-color: rgb(113, 113, 113);
  max-height: 100vh;
  overflow: auto;
}


@media screen and (max-width:600px) {
.container-addTask {
  display: block;
  /* text-align: center; */
}

.form-addTask {
  margin: 0 auto;
}

.container-ListEmployees-addTasks{
  margin: 0px auto;
  float: none;
  box-sizing: none;
  padding: 0px 10px;
  display: block;
}

}