.container-ListEmployees{
  width: 75vw;
  float: left;
  box-sizing: border-box;
  position: relative;
  /* margin: 0 auto; */
  background-color: blue;
  max-height: 100vh;
  overflow: auto;

}

@media screen and (max-width: 600px) {
  .container-ListEmployees{
    width: 100vw;
    float: none;
  }
}