.message-withoutTasks{
  background-color: aquamarine;
  width: 500px;
  position: relative;
  margin: 0 auto;
  text-align: center;
  line-height: 200px;
  border-radius: 30px;
}

.link-message{
  background-color: aliceblue;
  
}