.container-sidebar{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  background-color: rgb(157, 157, 157);
  height: 100vh;
  float: left;
  text-align: center;
  font-family: sans-serif;
}

a{
  text-decoration: none;
  color: black;
  padding: 14px;
  width: 70%;
  box-sizing: border-box;
  border-radius: 30px;
  background: rgb(211, 211, 255);
  margin: 5px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.895);
  transition: background .2s;
}

a:hover{
  background: rgb(123, 122, 122);
}
a:active{
  box-shadow: inset -1px -1px 1px  rgb(86, 86, 86);

}